{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/ahmedabad.css' %}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
        <style>
            .monument-card img {
                width: 400px;
                height: 400px;
                object-fit: cover;
                border-radius: 8px;
            }
            
            .monument-card {
                align-items: center;
                width: 95%;
                max-width: 1000px;
                margin: 30px auto;
                box-shadow: 0 4px 8px rgba(0,0,0,0.15);
            }
            
            .trending-tour img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            
            /* Make the card content take remaining space */
            .card-content {
                flex: 1;
                padding: 25px;
            }
            
            @media (max-width: 768px) {
                .monument-card {
                    flex-direction: column;
                }
                
                .monument-card img {
                    width: 100%;
                    height: 350px;
                }
            }
        </style>
    </head>
    <body>

        <!-- Header Section -->
        <header class="hero">
            <img src="{% static 'images/places/Sardar-Vallabhbhai-Patel-National-Museum-Thumbnail.jpg' %}" alt="Tour Place">
            <div class="overlay">
                <h1>Tours List</h1>
            </div>
        </header>
        <!--Ended Header Section -->
    
        <!-- Breadcrumb -->
        <nav class="breadcrumb">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>></li>
                <li class="current">Tours List</li>
            </ul>
        </nav>
        <!-- End Breadcrumb -->

    
        <div class="container">
            <!-- Sidebar -->
            <aside class="sidebar">
                <div class="sidebar-header">Search City</div>
                <ul class="city-list">
                    <li><a href="#"> Ahmedabad </a> </li>
                    <li><a href="#"> Surat </a> </li>
                    <li><a href="#"> Amreli </a> </li>
                    <li><a href="#"> Bhavnagar </a> </li>
                    <li><a href="#"> Patan </a> </li>
                </ul>
            </aside>
            
            <!-- Main Content -->
            <main class="main-content">
                <div class="top-bar">
                    <span>10 monuments found</span>
                    <div class="sort-section">
                        <label for="sort">Sort by:</label>
                        <select id="sort">
                            <option>Historical</option>
                            <option>Horror</option>
                        </select>
                    </div>
                </div>
            <!-- End Main Content -->
                
                <!-- Monument Card 1 -->
                <div class="monument-card">
                    <a href="{% url 'tour-detail1' %}"> <img src="{% static 'images/places/Adalaj.jpg' %}" alt="Adalaj Stepwell"> </a>
                    <div class="card-content">
                        <div class="rating">★★★☆☆ 15+ Reviews</div>
                        <h2>Adalaj Stepwell</h2> <br>
                        <p class="loc"> <i class='bx bxs-edit-location'></i> Ahmedabad, Gujarat</p> <br>
                        <p>8:00 AM - 6:00 PM <span class="days">Sunday - Saturday</span></p> <br>
                        <p class="contact"> <i class='bx bx-phone-call'></i> 6354592403</p> <br>
                        <a href="{% url 'tour-detail1' %}" class="explore-btn"> Explore </a>
                    </div>
                </div>

                <!-- Monument Card 2 -->
                <div class="monument-card">
                    <a href="{% url 'tour-detail2' %}"> <img src="{% static 'images/places/Rani Ki Vav29.jpg' %}" alt="Rani Ki Vav"> </a>
                    <div class="card-content">
                        <div class="rating">★★★☆☆ 15+ Reviews</div>
                        <h2>Rani Ki Vav</h2> <br>
                        <p class="loc"> <i class='bx bxs-edit-location'></i> Ahmedabad, Gujarat</p> <br>
                        <p>8:00 AM - 6:00 PM <span class="days">Sunday - Saturday</span></p> <br>
                        <p class="contact"> <i class='bx bx-phone-call'></i> 9016488753</p> <br>
                        <a href="{% url 'tour-detail2' %}" class="explore-btn">Explore</a>
                    </div>
                </div>

                <!-- Monument Card 3 -->
                <div class="monument-card">
                    <a href="{% url 'tour-detail3' %}"> <img src="{% static 'images/places/car.jpg' %}" alt="The Vintage Car Museum"> </a>
                    <div class="card-content">
                        <div class="rating">★★★☆☆ 15+ Reviews</div>
                        <h2>The Vintage Car Museum</h2> <br>
                        <p class="loc"> <i class='bx bxs-edit-location'></i> Ahmedabad, Gujarat</p> <br>
                        <p>8:00 AM - 6:00 PM <span class="days">Sunday - Saturday</span></p> <br>
                        <p class="contact"> <i class='bx bx-phone-call'></i> 9106248405</p> <br>
                        <a href="{% url 'tour-detail3' %}" class="explore-btn">Explore</a>
                    </div>
                </div>

                <!-- Monument Card 4 -->
                <div class="monument-card">
                    <a href="{% url 'tour-detail4' %}"> <img src="{% static 'images/places/India - Architecture and Nature.jpg' %}" alt="Sabarmati Aashram"> </a>
                    <div class="card-content">
                        <div class="rating">★★★☆☆ 15+ Reviews</div>
                        <h2>Sabarmati Aashram</h2> <br>
                        <p class="loc"> <i class='bx bxs-edit-location'></i> Ahmedabad, Gujarat</p> <br>
                        <p>8:00 AM - 6:00 PM <span class="days">Sunday - Saturday</span></p> <br>
                        <p class="contact"> <i class='bx bx-phone-call'></i> 6354592403</p> <br>
                        <a href="{% url 'tour-detail4' %}" class="explore-btn">Explore</a>
                    </div>
                </div>

                <!-- Monument Card 5 -->
                <div class="monument-card">
                    <a href="{% url 'tour-detail5' %}"> <img src="{% static 'images/places/Sheth_Hutheesinh_Temple.jpg' %}" alt="Hutheesing Jain Temple"> </a>
                    <div class="card-content">
                        <div class="rating">★★★☆☆ 15+ Reviews</div>
                        <h2>Hutheesing Jain Temple</h2> <br>
                        <p class="loc"> <i class='bx bxs-edit-location'></i> Ahmedabad, Gujarat</p> <br>
                        <p>8:00 AM - 6:00 PM <span class="days">Sunday - Saturday</span></p> <br>
                        <p class="contact"> <i class='bx bx-phone-call'></i> 6354592403</p> <br>
                        <a href="{% url 'tour-detail5' %}" class="explore-btn">Explore</a>
                    </div>
                </div>

                <!-- Monument Card 6 -->
                <div class="monument-card">
                    <a href="{% url 'tour-detail6' %}"> <img src="{% static 'images/places/jama.jpg' %}" alt="Jama Masjid"> </a>
                    <div class="card-content">
                        <div class="rating">★★★☆☆ 15+ Reviews</div>
                        <h2>Jama Masjid</h2> <br>
                        <p class="loc"> <i class='bx bxs-edit-location'></i> Ahmedabad, Gujarat</p> <br>
                        <p>8:00 AM - 6:00 PM <span class="days">Sunday - Saturday</span></p> <br>
                        <p class="contact"> <i class='bx bx-phone-call'></i> 9016488753</p> <br>
                        <a href="{% url 'tour-detail6' %}" class="explore-btn">Explore</a>
                    </div>
                </div>

                <!-- Monument Card 7 -->
                <div class="monument-card">
                    <a href="{% url 'tour-detail7' %}"> <img src="{% static 'images/places/Unesco-World-Heritage-Site.jpg' %}" alt="Jhulta Minar"> </a>
                    <div class="card-content">
                        <div class="rating">★★★☆☆ 15+ Reviews</div>
                        <h2>Jhulta Minar</h2> <br>
                        <p class="loc"> <i class='bx bxs-edit-location'></i> Ahmedabad, Gujarat</p> <br>
                        <p>8:00 AM - 6:00 PM <span class="days">Sunday - Saturday</span></p> <br>
                        <p class="contact"> <i class='bx bx-phone-call'></i> 9016488753</p> <br>
                        <a href="{% url 'tour-detail7' %}" class="explore-btn">Explore</a>
                    </div>
                </div>

                <!-- Monument Card 8 -->
                <div class="monument-card">
                    <a href="{% url 'tour-detail8' %}"> <img src="{% static 'images/places/kankaria-lake-ahmedabad.jpg' %}" alt="Kankaria Lake"> </a>
                    <div class="card-content">
                        <div class="rating">★★★☆☆ 15+ Reviews</div>
                        <h2>Kankaria Lake</h2> <br>
                        <p class="loc"> <i class='bx bxs-edit-location'></i> Ahmedabad, Gujarat</p> <br>
                        <p>8:00 AM - 6:00 PM <span class="days">Sunday - Saturday</span></p> <br>
                        <p class="contact"> <i class='bx bx-phone-call'></i> 9106248405</p> <br>
                        <a href="{% url 'tour-detail8' %}" class="explore-btn">Explore</a>
                    </div>
                </div>

                <!-- Monument Card 9 -->
                <div class="monument-card">
                    <a href="{% url 'tour-detail9' %}"> <img src="{% static 'images/places/maxresdefault.jpg' %}" alt="Lal Darvaja"> </a>
                    <div class="card-content">
                        <div class="rating">★★★☆☆ 15+ Reviews</div>
                        <h2>Lal Darvaja</h2> <br>
                        <p class="loc"> <i class='bx bxs-edit-location'></i> Ahmedabad, Gujarat</p> <br>
                        <p>8:00 AM - 6:00 PM <span class="days">Sunday - Saturday</span></p> <br>
                        <p class="contact"> <i class='bx bx-phone-call'></i> 9106248405</p> <br>
                        <a href="{% url 'tour-detail9' %}" class="explore-btn">Explore</a>
                    </div>
                </div>

                <!-- Monument Card 10 -->
                <div class="monument-card">
                    <a href="{% url 'tour-detail10' %}"> <img src="{% static 'images/places/sabarmati.jpg' %}" alt="Sabarmati Riverfront"> </a>
                    <div class="card-content">
                        <div class="rating">★★★☆☆ 15+ Reviews</div>
                        <h2>Sabarmati Riverfront</h2> <br>
                        <p class="loc"> <i class='bx bxs-edit-location'></i> Ahmedabad, Gujarat</p> <br>
                        <p>8:00 AM - 6:00 PM <span class="days">Sunday - Saturday</span></p> <br>
                        <p class="contact"> <i class='bx bx-phone-call'></i> 6354592403</p> <br>
                        <a href="{% url 'tour-detail10' %}" class="explore-btn">Explore</a>
                    </div>
                </div>

            </main>
        </div>
        <!-- End Sidebar -->

        <!-- Trending Tour Section -->
        <div class="trending-tour">
            <img src="{% static 'images/places/Heritage-Walk-Thumbnail1.jpg' %}" alt="Trending Tour" class="trending-image">
            <div class="trending-content">
                <h2>Discover the beauty and</h2>
                <h2> culture of your destination</h2> <br>
            <a href="{% url 'tour' %}" class="btn btn-primary">Trending Tour</a>
        </div>
        </div>
        <!-- End Trending Tour Section -->

    </body>
</html>

{% endblock %}